section {
    padding: 30px;

    form {
        width: 400px;
    }

    table {
        margin: 30px auto;
        width: 100%;
        .mat-column-actions {
            width: 60px;
            text-align: center;
        }
    }
}